.full {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
}

.half {
  width: calc(50% - 0.5rem);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .half {
    width: 100%;
    margin-right: 0;
  }
}
